.descuento{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.descuento>h3{
    color: gray;
}

.descuento>input{
    border: none;
    border-radius: 5px;
    font-size: 28px;
}