.descuento, .totalt, .clientediv{
    display: flex;
    align-items: center;
}

#total, #tablaClientesCli, #clienteModalLabel, #totalModalLabel {
    margin-bottom: 0;
}

.totalDivCol {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

#totalModalLabel {
    text-align: center;
    width: 140px;
    margin-right: 2px;
}

#target {
    text-align: center;
    width: 80px;
}

#backModal{
    position: absolute;
    top: 0;
    background: rgba(75, 75, 75, 0.452);
    height: 100%;
    width: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.drower{
    width: 30%;
    background: white;
    border-radius: 8px;
}

#botoncModal, #cerrarDrawer{
    padding: 8px;
    margin: 8px;
}

#cerrarDrawer {
    padding: 8px;
    margin: 8px;
    width: 40px;
}


.table{
    text-align: center;
    margin-top: 10px;
}